@model WaiterManager

@{
    ViewData["Title"] = "Manager's Page";
}
@if (!String.IsNullOrEmpty(Model.FullNames))
{

    <div id="Manager" class="container-lg" >
    <Div class >
          <h1 class="text-center">Decision Pizza</h1>
        @* <h3 class="display-9"> Welcome @Html.DisplayFor(model => model.FullNames)</h3> *@
          
      </Div>
    </div>
    <br>

    <div class="text-center">
    <table class="table table-primary table-hover table-bordered border-primary">
      <tr>
            <h3 class="text-center">Weekly Schedule</h3>
      </tr>
        <tr>
        <th scope="col">Time</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        </tr>
        <tr>
            <td>09:00 - 12:00</td>
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.ApprovedFirstShiftMondayModel)
              {
                  <li>@item.FullNames</li>
              } </ul></td>
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.TuesdayModel)
              {
                  <li>@item.FullNames</li>
              } </ul></td>   
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.WednesdayModel)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.ThursdayModel)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.FridayModel)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

        </tr>
        <tr>
            <td>12:00 - 16:00</td>
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.approvedSecondShiftMondayModel)
              {
                  <li>@item.FullNames</li>
              } </ul></td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.TuesdayModel2nd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

              <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.WednesdayModel2nd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.ThursdayModel2nd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.FridaysModel2nd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

        </tr>

        <tr>
            <td>16:00 - 21:00</td>
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.approvedThirdtShiftMondayModel)
              {
                  <li>@item.FullNames</li>
              }
            </ul></td>
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.TuesdayModel3rd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.WednesdayModel3rd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.ThursdayModel3rd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.FridayModel3rd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>
                 
        </tr>
    </table>

    <form asp-controller="MangerWaiterDeletes" asp-action="DeleteTimeSlots" method="POST">
      <input type="text" asp-for="FullNames" id="" style="display:none;" class="form-control" >
      <button type="submit" class="btn btn-outline-danger btn-block btn-sm" >Clear Weekly Schedule</button>
    </form>

</div>
    <br>


    <div class="row">
      <div class="col-12">
        <table class="table table-hover table-dark">
          <tr>
          <th>Name</th>
          <th>Day</th>
          <th>Time Slot</th>
          <th>Reject</th>
          <th>Aprove</th>
        </tr>
        @foreach (var timeSlot in Model.TimeslotsResults){
          <tr>
          <td>@timeSlot.FullNames </td>
          <td>@timeSlot.Day</td>
          <td>@timeSlot.Time</td>
          <td>

            <form asp-controller="Login" asp-action="RejectRequestShift" method="POST">
              <input type="text" asp-for="FullNames" id="" style="display:none;" class="form-control" >
              <input type="text" asp-for="TimeSlotsId" id="" style="display:none;" class="form-control" value="@timeSlot.TimeSlotsId" >
              <button type="submit" class="btn btn-outline-danger btn-sm" >Reject</button>
            </form>
          </td>

          <td>
            <form asp-controller="Login" asp-action="ApproveRequestShift" method="POST">
              <input type="text" asp-for="FullNames" id="" style="display:none;" class="form-control" >
              <input type="text" asp-for="TimeSlotsId" id="" style="display:none;" class="form-control" value="@timeSlot.TimeSlotsId" >
              <button type="submit" class="btn btn-outline-success btn-sm" >Approve</button>
            </form>

            </td>
          </tr>
        }
        
      
        </table>
      </div>
  </div>
} else {
        <h3 class="center" style="margin-top: 50%;">You don't have access to this page❌</h3>
}
