@model WaiterManager

@{
    ViewData["Title"] = "Waiters Page";
}
<h1 class="display-4"> Welcome @Html.DisplayFor(model => model.FullNames)</h1>
<br>
<div class="text-center">
    <table class="table table-primary table-hover table-bordered border-primary">
      <tr>
            <h3 class="text-center">Weekly Schedule</h3>
      </tr>
        <tr>
        <th scope="col">Time</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        </tr>
        <tr>
            <td>09:00 - 12:00</td>
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.ApprovedFirstShiftMondayModel)
              {
                  <li>@item.FullNames</li>
              } </ul></td>
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.TuesdayModel)
              {
                  <li>@item.FullNames</li>
              } </ul></td>   
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.WednesdayModel)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.ThursdayModel)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.FridayModel)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

        </tr>
        <tr>
            <td>12:00 - 16:00</td>
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.approvedSecondShiftMondayModel)
              {
                  <li>@item.FullNames</li>
              } </ul></td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.TuesdayModel2nd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

              <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.WednesdayModel2nd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.ThursdayModel2nd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.FridaysModel2nd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

        </tr>

        <tr>
            <td>16:00 - 21:00</td>
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.approvedThirdtShiftMondayModel)
              {
                  <li>@item.FullNames</li>
              }
            </ul></td>
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.TuesdayModel3rd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.WednesdayModel3rd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>

            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.ThursdayModel3rd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>
            
            <td class="@Html.DisplayFor(model => model.ColourChange)"><ul class="list-unstyled">
              @foreach (var item in Model.FridayModel3rd)
              {
                  <li>@item.FullNames</li>
              } </ul> </td>
                 
        </tr>
    </table>
</div>
<br>
<h2 class="display-6">Your Schedule</h2>
<div class="text-center">
    <table class="table table-light table-borderless shadow p-3 mb-5">
            <tr>
                @foreach (var timeSlot in Model.ScheduledShift){
                    <th>@timeSlot.Day</th>
                }
            </tr>
            <tr>
                @foreach (var timeSlot in Model.ScheduledShift){
                    <td>@timeSlot.Time</td>
                }
            </tr> 
        
        
    </table>
</div>
<br>
<div class="row justify-content-between gap-3">
    <div style="background-color:#E0E1DD; height: 25rem" class="col gy-5  border border-info rounded shadow p-3 mb-5">
        <div class="text-center">
            <br>
            <h2 class="display-6">Request Shift</h2>
        </div>
         <form asp-action="RequestShift" asp-controller="Login" method="POST">
             @Html.DisplayFor(model => model.Message)
             <br>
            <label>Select Day:</label>
            <br>
            <select asp-for="Day" name="Day" id="days"  class="form-control" >
                <option value="">Select</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
            </select>
            <br>
            <label>Select Time:</label>
            <br>
            <select asp-for="Time" name="Time" id="times" class="form-control">
                <option value="">Select</option>
                <option value="09:00 - 12:00">09:00 - 12:00</option>
                <option value="12:00 - 16:00">12:00 - 16:00</option>
                <option value="16:00 - 21:00">16:00 - 21:00</option>
            </select>
            <input type="text" asp-for="FullNames" id="" style="display:none;" class="form-control" >
            <input type="text" asp-for="EmployId" id="" style="display:none;" class="form-control" >
            <br>
            <button class="btn btn-primary" type="submit">Request</button>
            <br>
            <br>
         </form>
    </div>
    <div class="col gy-5 border border-info rounded shadow p-3 mb-5 overflow-auto" style="background-color:#E0E1DD; height: 25rem">
        <div class="text-center">
            <br>
            <h2 class="display-6">Requests Status</h2>
            <br>
        </div>
        <div class="text-center">
            <table>
                @foreach (var timeSlot in Model.TimeslotsResults)
                {
                    <tr class="table-default">
                        <td colspan="2" class="border-right border-top border-bottom border-primary p-2">@timeSlot.Day, @timeSlot.Time</td>
                        <td class="border-bottom border-top border-primary p-2" >@timeSlot.Status</td>
                    </tr>
                }   
            </table>
        </div>
    </div>
</div>
<br>
